// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as EnrichApi from "../../../index.js";

export declare namespace ReverseEmailLookupClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReverseEmailLookupClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ReverseEmailLookupClient.Options>;

    constructor(options: ReverseEmailLookupClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Pass an email address and get back the person's professional profile — including
     * their name, headline, current company, job history, education, and skills.
     *
     * **Cost:** 10 credits. You are **not** charged if no profile is found.
     *
     * @param {EnrichApi.LookupRequest} request
     * @param {ReverseEmailLookupClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.BadRequestError}
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.PaymentRequiredError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     * @throws {@link EnrichApi.InternalServerError}
     *
     * @example
     *     await client.reverseEmailLookup.reverseLookup({
     *         email: "emily.zhang@figma.com"
     *     })
     */
    public reverseLookup(
        request: EnrichApi.LookupRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.ReverseLookupResponse> {
        return core.HttpResponsePromise.fromPromise(this.__reverseLookup(request, requestOptions));
    }

    private async __reverseLookup(
        request: EnrichApi.LookupRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.ReverseLookupResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "reverse-lookup/lookup",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.ReverseLookupResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new EnrichApi.BadRequestError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 402:
                    throw new EnrichApi.PaymentRequiredError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 500:
                    throw new EnrichApi.InternalServerError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/reverse-lookup/lookup");
    }

    /**
     * Submit up to **100 000 emails** and get back professional profile data for each
     * one. Duplicate emails are removed (case-insensitive) before processing.
     *
     * **Cost:** 10 credits per unique email, reserved upfront. Credits for emails
     * where no profile was found are refunded.
     *
     * ### Webhook callbacks
     *
     * If you include a `webhookUrl`, your server will receive:
     *
     * 1. **A per-result callback** for every email as it is processed. See
     *    [reverseLookupResult](#tag/Webhooks/operation/webhookReverseLookupResult) for the payload.
     *
     * 2. **A completion callback** when the entire batch finishes. See
     *    [reverseLookupCompletion](#tag/Webhooks/operation/webhookReverseLookupCompletion) for the payload.
     *
     * @param {EnrichApi.BulkLookupRequest} request
     * @param {ReverseEmailLookupClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.BadRequestError}
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.PaymentRequiredError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     * @throws {@link EnrichApi.InternalServerError}
     *
     * @example
     *     await client.reverseEmailLookup.bulkReverseLookup({
     *         emails: ["emily.zhang@figma.com", "david.kim@vercel.com", "aisha.johnson@cloudflare.com"],
     *         webhookUrl: "https://api.yourapp.com/webhooks/enrich"
     *     })
     */
    public bulkReverseLookup(
        request: EnrichApi.BulkLookupRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.BulkLookupResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkReverseLookup(request, requestOptions));
    }

    private async __bulkReverseLookup(
        request: EnrichApi.BulkLookupRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.BulkLookupResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "reverse-lookup/bulk-lookup",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.BulkLookupResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new EnrichApi.BadRequestError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 402:
                    throw new EnrichApi.PaymentRequiredError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 500:
                    throw new EnrichApi.InternalServerError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/reverse-lookup/bulk-lookup");
    }

    /**
     * Poll this endpoint to track the batch.
     *
     * **Cost:** Free.
     *
     * @param {EnrichApi.GetBulkLookupStatusRequest} request
     * @param {ReverseEmailLookupClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.NotFoundError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.reverseEmailLookup.getBulkLookupStatus({
     *         batchId: "665a1f4e2c3b7800129dce01"
     *     })
     */
    public getBulkLookupStatus(
        request: EnrichApi.GetBulkLookupStatusRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.BatchStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBulkLookupStatus(request, requestOptions));
    }

    private async __getBulkLookupStatus(
        request: EnrichApi.GetBulkLookupStatusRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.BatchStatusResponse>> {
        const { batchId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `reverse-lookup/bulk-lookup/${core.url.encodePathParam(batchId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.BatchStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 404:
                    throw new EnrichApi.NotFoundError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/reverse-lookup/bulk-lookup/{batchId}",
        );
    }

    /**
     * Retrieve paginated professional profile results. Each result contains the full
     * profile data, or the result is omitted if no profile was found for that email.
     *
     * **Credit settlement:** Emails with no matching profile are not charged.
     * The difference between reserved and actual credits is refunded.
     *
     * @param {EnrichApi.GetBulkLookupResultsRequest} request
     * @param {ReverseEmailLookupClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.NotFoundError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.reverseEmailLookup.getBulkLookupResults({
     *         batchId: "665a1f4e2c3b7800129dce01"
     *     })
     */
    public getBulkLookupResults(
        request: EnrichApi.GetBulkLookupResultsRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.BulkLookupResultsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBulkLookupResults(request, requestOptions));
    }

    private async __getBulkLookupResults(
        request: EnrichApi.GetBulkLookupResultsRequest,
        requestOptions?: ReverseEmailLookupClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.BulkLookupResultsResponse>> {
        const { batchId, page, limit } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `reverse-lookup/bulk-lookup/${core.url.encodePathParam(batchId)}/results`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.BulkLookupResultsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 404:
                    throw new EnrichApi.NotFoundError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/reverse-lookup/bulk-lookup/{batchId}/results",
        );
    }
}
