// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as EnrichApi from "../../../index.js";

export declare namespace TeamsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TeamsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TeamsClient.Options>;

    constructor(options: TeamsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns everyone in your team along with their role (owner, admin, or member).
     *
     * @param {EnrichApi.ListTeamMembersRequest} request
     * @param {TeamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.NotFoundError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.teams.listTeamMembers({
     *         teamId: "665e0b2f4a6d8c001abc1234"
     *     })
     */
    public listTeamMembers(
        request: EnrichApi.ListTeamMembersRequest,
        requestOptions?: TeamsClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.TeamMemberListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTeamMembers(request, requestOptions));
    }

    private async __listTeamMembers(
        request: EnrichApi.ListTeamMembersRequest,
        requestOptions?: TeamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.TeamMemberListResponse>> {
        const { teamId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `teams/${core.url.encodePathParam(teamId)}/members`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.TeamMemberListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 404:
                    throw new EnrichApi.NotFoundError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/teams/{teamId}/members");
    }

    /**
     * See all outstanding invitations for your team. You must be an **admin** or
     * **owner**.
     *
     * @param {EnrichApi.ListTeamInvitationsRequest} request
     * @param {TeamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.NotFoundError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.teams.listTeamInvitations({
     *         teamId: "665e0b2f4a6d8c001abc1234"
     *     })
     */
    public listTeamInvitations(
        request: EnrichApi.ListTeamInvitationsRequest,
        requestOptions?: TeamsClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.InvitationListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTeamInvitations(request, requestOptions));
    }

    private async __listTeamInvitations(
        request: EnrichApi.ListTeamInvitationsRequest,
        requestOptions?: TeamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.InvitationListResponse>> {
        const { teamId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `teams/${core.url.encodePathParam(teamId)}/invitations`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.InvitationListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 404:
                    throw new EnrichApi.NotFoundError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/teams/{teamId}/invitations");
    }

    /**
     * Sends an email invitation to join your team. You must be an **admin** or
     * **owner** to invite people. The invitee can be assigned the role of `admin`
     * or `member`.
     *
     * @param {EnrichApi.InviteBody} request
     * @param {TeamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.BadRequestError}
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.teams.inviteTeamMember({
     *         teamId: "665e0b2f4a6d8c001abc1234",
     *         email: "marco.silva@yourcompany.com",
     *         role: "member"
     *     })
     */
    public inviteTeamMember(
        request: EnrichApi.InviteBody,
        requestOptions?: TeamsClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.InvitationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__inviteTeamMember(request, requestOptions));
    }

    private async __inviteTeamMember(
        request: EnrichApi.InviteBody,
        requestOptions?: TeamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.InvitationResponse>> {
        const { teamId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `teams/${core.url.encodePathParam(teamId)}/invitations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.InvitationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new EnrichApi.BadRequestError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/teams/{teamId}/invitations");
    }

    /**
     * Withdraws an invitation before the invitee accepts it. You must be an
     * **admin** or **owner**.
     *
     * @param {EnrichApi.CancelInvitationRequest} request
     * @param {TeamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.NotFoundError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.teams.cancelInvitation({
     *         teamId: "665e0b2f4a6d8c001abc1234",
     *         invitationId: "665e2e7f4a6d8c001abc5001"
     *     })
     */
    public cancelInvitation(
        request: EnrichApi.CancelInvitationRequest,
        requestOptions?: TeamsClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.SuccessOperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelInvitation(request, requestOptions));
    }

    private async __cancelInvitation(
        request: EnrichApi.CancelInvitationRequest,
        requestOptions?: TeamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.SuccessOperationResponse>> {
        const { teamId, invitationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `teams/${core.url.encodePathParam(teamId)}/invitations/${core.url.encodePathParam(invitationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.SuccessOperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 404:
                    throw new EnrichApi.NotFoundError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/teams/{teamId}/invitations/{invitationId}",
        );
    }
}
