// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as EnrichApi from "../../../index.js";

export declare namespace PhoneFinderClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PhoneFinderClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PhoneFinderClient.Options>;

    constructor(options: PhoneFinderClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Find phone numbers associated with a person's email address or social
     * profile URL. You must provide at least one of the two.
     *
     * **Cost:** 500 credits. You are **not** charged if no phone numbers are found.
     *
     * @param {EnrichApi.PhoneLookupRequest} request
     * @param {PhoneFinderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.BadRequestError}
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.PaymentRequiredError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     * @throws {@link EnrichApi.InternalServerError}
     *
     * @example
     *     await client.phoneFinder.phoneLookup({
     *         email: "sarah.chen@stripe.com",
     *         linkedin: "https://www.example.com/in/sarahchen"
     *     })
     */
    public phoneLookup(
        request: EnrichApi.PhoneLookupRequest = {},
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.PhoneLookupResponse> {
        return core.HttpResponsePromise.fromPromise(this.__phoneLookup(request, requestOptions));
    }

    private async __phoneLookup(
        request: EnrichApi.PhoneLookupRequest = {},
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.PhoneLookupResponse>> {
        const { email, linkedin } = request;
        const _queryParams: Record<string, unknown> = {
            email,
            linkedin,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "reverse-lookup/phones",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.PhoneLookupResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new EnrichApi.BadRequestError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 402:
                    throw new EnrichApi.PaymentRequiredError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 500:
                    throw new EnrichApi.InternalServerError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/reverse-lookup/phones");
    }

    /**
     * Submit up to **500 000 items** (email addresses and/or profile URLs) for
     * bulk phone lookup. Emails are deduplicated case-insensitively; profile
     * URLs are deduplicated as-is.
     *
     * **Cost:** 10 credits per unique item, reserved upfront. At settlement,
     * only items where phones were actually found are charged — the rest are
     * refunded.
     *
     * ### Webhook callbacks
     *
     * If you include a `webhookUrl`, your server will receive:
     *
     * 1. **A per-result callback** for every item as it is processed. See
     *    [phoneResult](#tag/Webhooks/operation/webhookPhoneResult) for the payload.
     *
     * 2. **A completion callback** when every item has been processed. See
     *    [phoneCompletion](#tag/Webhooks/operation/webhookPhoneCompletion) for the payload.
     *
     * @param {EnrichApi.PhoneBatchRequest} request
     * @param {PhoneFinderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.BadRequestError}
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.PaymentRequiredError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     * @throws {@link EnrichApi.InternalServerError}
     *
     * @example
     *     await client.phoneFinder.createPhoneBulkJob({
     *         emails: ["sarah.chen@stripe.com", "james.rodriguez@hubspot.com"],
     *         linkedins: ["https://www.example.com/in/priyapatel"],
     *         webhookUrl: "https://api.yourapp.com/webhooks/enrich"
     *     })
     */
    public createPhoneBulkJob(
        request: EnrichApi.PhoneBatchRequest = {},
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.PhoneBulkJobSubmitResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPhoneBulkJob(request, requestOptions));
    }

    private async __createPhoneBulkJob(
        request: EnrichApi.PhoneBatchRequest = {},
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.PhoneBulkJobSubmitResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "reverse-lookup/phones/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.PhoneBulkJobSubmitResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new EnrichApi.BadRequestError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 402:
                    throw new EnrichApi.PaymentRequiredError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 500:
                    throw new EnrichApi.InternalServerError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/reverse-lookup/phones/bulk");
    }

    /**
     * Poll this endpoint to track the job. The `progress` field is a percentage
     * from 0 to 100.
     *
     * **Cost:** Free.
     *
     * @param {EnrichApi.GetPhoneBulkJobStatusRequest} request
     * @param {PhoneFinderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.NotFoundError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.phoneFinder.getPhoneBulkJobStatus({
     *         jobId: "665c52bf7b8e3f00149f0a10"
     *     })
     */
    public getPhoneBulkJobStatus(
        request: EnrichApi.GetPhoneBulkJobStatusRequest,
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.PhoneBulkJobStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPhoneBulkJobStatus(request, requestOptions));
    }

    private async __getPhoneBulkJobStatus(
        request: EnrichApi.GetPhoneBulkJobStatusRequest,
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.PhoneBulkJobStatusResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `reverse-lookup/phones/bulk/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EnrichApi.PhoneBulkJobStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 404:
                    throw new EnrichApi.NotFoundError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/reverse-lookup/phones/bulk/{jobId}",
        );
    }

    /**
     * Retrieve paginated results. Each item shows the phones found (or an error
     * message if the lookup failed).
     *
     * **Credit settlement:** Only items where at least one phone number was found
     * are charged. Everything else is refunded.
     *
     * @param {EnrichApi.GetPhoneBulkJobResultsRequest} request
     * @param {PhoneFinderClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EnrichApi.UnauthorizedError}
     * @throws {@link EnrichApi.NotFoundError}
     * @throws {@link EnrichApi.TooManyRequestsError}
     *
     * @example
     *     await client.phoneFinder.getPhoneBulkJobResults({
     *         jobId: "665c52bf7b8e3f00149f0a10"
     *     })
     */
    public getPhoneBulkJobResults(
        request: EnrichApi.GetPhoneBulkJobResultsRequest,
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): core.HttpResponsePromise<EnrichApi.PhoneBulkJobResultsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPhoneBulkJobResults(request, requestOptions));
    }

    private async __getPhoneBulkJobResults(
        request: EnrichApi.GetPhoneBulkJobResultsRequest,
        requestOptions?: PhoneFinderClient.RequestOptions,
    ): Promise<core.WithRawResponse<EnrichApi.PhoneBulkJobResultsResponse>> {
        const { jobId, page, limit } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `reverse-lookup/phones/bulk/${core.url.encodePathParam(jobId)}/results`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as EnrichApi.PhoneBulkJobResultsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new EnrichApi.UnauthorizedError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 404:
                    throw new EnrichApi.NotFoundError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                case 429:
                    throw new EnrichApi.TooManyRequestsError(
                        _response.error.body as EnrichApi.ErrorEnvelope,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EnrichApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/reverse-lookup/phones/bulk/{jobId}/results",
        );
    }
}
